body {
	margin: 0px;
	padding:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #999999;
	background-color: #F0F0F0;
	text-align:center; 
}
#titulo {background:#F0F0F0; 
		border-top:1px solid #ddd; 
		border-bottom:1px solid #ddd;
li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;}
	ul {margin:10px;}
a:link { color: #777777; text-decoration:none; }
a:visited { color: #777777; text-decoration:none; }
a:hover { color: #00557D; background:#efefef; text-decoration:none;}
hr {margin:0px; padding:0px; boder:1px solid #DFDFDF; color:#dedede;}