body {background:#FFFFFF;
	  font-family:Verdana, Arial; 
	  color:#666; 
	  font-size:80%; 
	  text-align:center; 
	  margin:0px; 
	  margin-top:15px;
}
b{color:#00557d}
#titulo {background:#F0F0F0; 
		border-top:1px solid #ddd; 
		border-bottom:1px solid #ddd;
}
h1,h2,h3,h4,h5,h6 {margin:3px;}
table {font-size:90%; text-align:left;}
#tab_tit {font-weight: bold;}
#tabelatitulo {color:#00557d; font-weight:bold;}	
#dados {padding:2px; background: #eeeeee;}
#acoes {padding:2px;}

table a:link {
	background-color: #D6D6D6;
	padding:1px;
	text-decoration:none;
	font-weight: bold;
	font-size: 95%;
	color: #666;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	border-top:1px solid #EEEEEE;	
	border-LEFT:1px solid #EEEEEE;
}

table a:hover {
	background-color: #DDDDDD;
	padding:1px;
	text-decoration:none;
	font-weight: bold;
	font-size: 95%;
	color: #00557d;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	border-top:1px solid #EEEEEE;	
	border-LEFT:1px solid #EEEEEE;
}
table a:actived {
	background-color: #DDDDDD;
	padding:1px;
	text-decoration:none;
	font-weight: bold;
	font-size: 95%;
	color: #666;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #EEEEEE;	
	border-bottom:1px solid #EEEEEE;
}
table a:visited {
	background-color: #DDDDDD;
    padding:1px;
	text-decoration:none;
	font-weight: bold;
	font-size: 95%;
	color: #999;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	border-top:1px solid #EEEEEE;	
	border-left:1px solid #EEEEEE;
}
input,textarea,select { color: #777; background-color:#F0F0F0; border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
a:link { color: #777777; text-decoration:none; }
a:visited { color: #777777; text-decoration:none; }
a:hover { color: #00557D;  text-decoration:none;}
#fotoprim{
	font-size: 95%;
	color: #666;
	background-color::#DDDDDD; 
	
}
