@mixin centralHeight{
	height: 70%;
	height: -webkit-calc(100% - 100px);  /* para Chrome */
	height: -moz-calc(100% - 100px);     /* para Firefox */
 	height: calc(100% - 100px);
}

body{
	height: 100%;
}

#face_header{
	height: 40px;
	width: auto;
}

#content{
	margin: 10px auto;
	min-height: 350px;
	width: 1000px;
}

#sidebar{
	//position: fixed;
	float: left;
	width: 220px;
	height: 70%;
	height: calc(100% - 220px);
	min-height: 300px;
	border-right: 1px #999 solid;

  	.nav i {
  		float: right;
  	}

  	ul li.nav-header, ul li a{
  		padding: 1px 8px 1px 15px;
  	}

  	ul li a{
		padding-left: 22px;
  	}
}

#formArea{
	float: right;
	padding: 10px 20px;
	width: 1000 - 220 - 41px;
	height: 100%;
}

#footer{
	height: 150px;
	width: auto;

	background:{
		color: rgb(27, 27, 27);
		image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
		repeat: repeat-x;
		color: rgb(37, 37, 37);
	}
}

@media only screen and (max-height: 350+40+150px){
	#footer{
		position: relative;
	}
}

#footer{
	.inner{
		margin: 0 auto;
		width: 1000px;

		.bg-image-footer{
			z-index: -1;
			position: relative;
			top: 40px;
			left: 1000 - 161 - 20px;
		}
	}
}

.logo-name{
	display: block;
	padding: 10px 15px 7px;

	font:{
		size: 34px;
		family: Fette Engschrift, san-serif;
	}

	color: #FFF;
	.big{
		font-size: 1em;
	}

	.small{
		margin-left: 0;
		font-size: 0.75em;
	}

	span{
		display: inline;
		margin: 0;
	}
}
/*******************************
 * Loged Form
 */

#formArea{
	.alert{
		ul{
			list-style-type: none;
			margin-bottom: 0;
			margin-left: 0;
		}
	}

	.alert-success{
		font-weight: bold;
	}
}

.logedForm{
	label{
		min-width: 100px;
		padding: 0 5px;
	}

	[type="submit"]{
		height: 35px;
	}
}

/*******************************
 * Index Classes
 */

span.blue{
	color: blue;
}

span.red{
	color: red;
}

span.green{
	color: green;
}

.nota_faculdade{
	display: block;
	padding: 8px 8px 0 0;
	line-height: 20px;

	span{
		font-weight: bold;
	}
}

#filtro{
	height: 38px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.5);

	form{
		margin: 0;

		> *{
			display: inline;
			margin: 0 2px 0 3px;
		}

		select{
			height: 30px;
			width: auto;

			&:focus{
				border-color: rgba(82, 168, 236, 0.8);
				outline: 0px none;
				box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
							0px 0px 8px rgba(82, 168, 236, 0.6);
			}
		}

		label{
			line-height: 22px;
		}

		input{
			height: 22px;
		}

	}
}

#curso_index, #grafica{
	tr{
		td:nth-child(2){
			text-align: center;
			padding: 0 10px;
			min-width: 150px;
		}

		td:last-of-type{
			padding: 0;
			vertical-align: middle;
			width: 100%;

			div.progress{
				margin: 5px 0;
			}
		}
	}
}

#curso_index{
	.media{
		line-height: 30px;
		font-size: 16px;
		font-weight: bold;
	}

	.progress{
			margin: 0 10px;
			height: 30px;

			.bar{
				-webkit-background-size: 30px 30px;
				-moz-background-size: 30px 30px;
				-o-background-size: 30px 30px;
				background-size: 30px 30px;

				color: lighten(#000, 10%);
			}
		}
}

/*******************************
 * Graficos
 */

$blue: rgb(14, 144, 210);
$red: rgb(52, 12, 233);
$green: rgb(34, 233, 25);

#legende{

	position: fixed;
	background-color: #FFF;

	td{
		height: 38px;
		vertical-align: middle;
		padding: 0 5px;
	}

	.color{
		margin-right: 5px;
		display: inline-block;
		vertical-align: text-midle;
		line-height: 10px;
		width: 10px;
		height: 10px;
 	}

	.blue{background-color: $blue;}
	.red{background-color: $red;}
	.green{background-color: $green;}
}

#grafica{
	width: 100%;
	tr{
		td:nth-child(2){
			padding-right: 5px;
			text-align: center;
			width: 5%;
		}

		td:last-of-type{
			vertical-align: middle;
			width: 75%;
			padding: 5px 0;
		}
	}

	.progress{
		margin: 2px 0 2px 5px;
		.bar{
			font-size: 14px;
			font-weight: bold;
			color: lighten(#000, 10%);
		}
	}

	.blue{
		background:{
			color: $blue;
			image: linear-gradient(to bottom,
				adjust_color($blue, $lightness: 3%), adjust_color($blue, $lightness: -10%));

		}
	}

	.red{
		background:{
			color: $red;
			image: linear-gradient(to bottom,
				adjust_color($red, $lightness: 3%), adjust_color($red, $lightness: -10%));

		}
	}

	.green{
		background:{
			color: $green;
			image: linear-gradient(to bottom,
				adjust_color($green, $lightness: 3%), adjust_color($green, $lightness: -10%));
		}
	}
}
