//@import "compass/reset";
@import "../css/bootstrap.css"; 
@import "../css/bootstrap.min.css";

.clear{
	clear: both;
}

.navbar .logo{
	padding: 10px 20px 5px;

	span{
		font-size: 25pt;
	}	
	font-family: Fette Engschrift;
}

#fake-header{
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
}

#main{
	margin: 10px auto;
	width: 1000px;
	min-height: 450px;
}

#footer{
	width: calc(100% - 40px);
	min-height: 150px;
	padding: 20px;

	position: absolute;
	z-index: -2;
	background-color: #252525;

	color: #FFF;
	
	.logo{
		position: absolute;
		right: 10px;
		bottom: 10px;
		z-index: -1;
	}

	.nav{
		display: block;
		li{
			padding: 0px 10px;
			float: left;
			a{
				font-size: 10pt;
				font-weight: bold;
				color: #FFF;
				&:hover{
					color: rgb(0, 136, 204);
					background: none;
				}
			}
		}
	}
}

.user-name{
	color: #FFF;
	display: block;
	padding: 10px 15px 10px;
	text-decoration: none;
	line-height: 20px;

	&:hover{
		color: #08c;
		text-decoration: none;
	}
}

#sidebar{
	float: left;
	margin: 0 10px;
	min-height: 400px;
	width: 220px;
	border-right: 1px #999 solid;
	.nav i{
		float: right;
	}
}

#content{
	float: right;
}