// Import all the variables into the main css file.
@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";


body{
	margin: 0;
	min-width: 320px;
}


#header{
	margin: 0 0 20px 0;
	background-color: #000000;
	width: 100%;
	//height: 5em;
}

#header, h1{
	width: 100%;
}

h1{
	padding: 5px;
	font:{
		family: Fette Engschrift;
		size: 4em;
	}
	color: #FFF;
	text:{
		align: center;
		//shadow: 2px 2px 1px rgba(20, 155, 223, 0.9);
	}
}

#header, #selections, #main{
	min-width: 320px;
}

#selections, #main{
	max-width: 1000px;
}

#selections{
	margin: 0 auto;

	#op1, #op2{
		select{
			width: 100%;
			width: calc(100% - 20px);
			text:{
				margin: 0 auto;
			}
		}
	}
}

#main{
	margin: 0 auto;
}

#uni1{
	float: left;
	.f-name, .course{text-align: left;}
	.porcent{text-align: right; margin-right: 15px;}
}

#uni2{
	float: right;
	.f-name, .course{text-align: right;}
	.porcent{text-align: left; margin-left: 15px;}
	.progress .bar{
		float: right;
	}
}

#uni1, #uni2{
	width: 50%;
	.f-name{
		margin: 0;
		padding: 10px;
		height: 1em;

		font:{
			family: Fette Engschrift;
			size: 2em;
		}
		span{
			font:{
				size: 0.8em;
			}
		}
	}

	.course{
		padding: 10px;
		font:{
			family: Fette Engschrift;
			size: 2em;
		}
	}

	.progress{
		margin: 0 10px;
		height: 50px;

		.bar{
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-o-background-size: 50px 50px;
			background-size: 50px 50px
		}
	}

	.porcent{
		height: 50px;
		margin-top: -40px;
		z-index: 2;
		padding-top: 10px;
		color: rgba(20, 155, 223, 0.5);
		font:{
			family: "Arial Black";
			size: 1.75em;
		}
		text-shadow: 1px 1px #FFF, -1px -1px #333;
	}
}

@media only screen and (max-width:500px){
	body{
		font-size: 12px;
	}

	h1{
		padding: 10px;
		font-size: 3em;
	}

	#uni1, #uni2{
		.progress{
			margin: 0 10px;
			height: 30px;

			.bar{
				-webkit-background-size: 30px 30px;
				-moz-background-size: 30px 30px;
				-o-background-size: 30px 30px;
				background-size: 30px 30px
			}
		}

		.porcent{
			height: 30px;
			margin-top: -30px;
			z-index: 2;
			padding-top: 5px;
			color: rgba(20, 155, 223, 0.5);
			font:{
				family: "Arial Black";
				size: 1.75em;
			}
			text-shadow: 1px 1px #FFF, -1px -1px #333;
		}
	}
}