<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <head>
		<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="resources/css/common.css" />

		<script language="javascript" type="text/javascript" src="resources/js/jquery-1.10.2.min.js" />
		<script language="javascript" type="text/javascript" src="resources/js/bootstrap.min.js" />
	</head>
    <body>
	    <ui:composition>
	    	<div style="clear: both" />
	    	<!-- <div id="fake-footer" /> -->
			<div id="footer" class="navbar-fixed-bottom">
				<div class="inner">
					<h:graphicImage value="/resources/img/SGD.logo.png" class="bg-image-footer"/>
				</div>
	 		</div>
	    </ui:composition>
    </body>
</html>