<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <head>
		<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="resources/css/common.css" />

		<script language="javascript" type="text/javascript" src="resources/js/jquery-1.10.2.min.js" />
		<script language="javascript" type="text/javascript" src="resources/js/bootstrap.min.js" />
	</head>
    <body>
	    <ui:composition>
 			<div class="navbar navbar-inverse navbar-fixed-top">
 				<div class="navbar-inner">
 					<div class="container">
 						<ul class="nav">
 							<li class="logo-name">
								<span class="big">SGD.</span><span class="small">ufba</span>
 							</li>
 							<li>
 								<h:outputLink value="/SGD/default.jsf">
									Home
								</h:outputLink>
 							</li>
 							<li class="dropdown">
 								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
 									Estatísticas<b class="caret"></b>
 								</a>
 								<ul class="dropdown-menu">
 									<li class="disabled"><a href="#">Faculdade</a></li>
 									<li class="disabled"><a href="#">Cursos</a></li>
 									<li class="disabled"><a href="#">Disciplinas</a></li>
 								</ul>
 							</li>
 							<li>
 								<a href="#">Contatos</a>
 							</li>
 						</ul>
 						<div class="pull-right">
 							<h:panelGroup rendered="#{sessionBean.autorizado == null}">
 								<h:outputLink class="btn" value="/SGD/login.jsf">
									Login
								</h:outputLink>
 							</h:panelGroup>

 							<h:panelGroup rendered="#{sessionBean.autorizado != null}">
 								<ul class="nav">
 									<li>
 										<h:outputLink value="/SGD/loged.jsf">
 											#{sessionBean.autorizado.nome}
 										</h:outputLink>
 									</li>
 									<li style="height:40px; overflow:hidden">
 										<h:form>
 											<h:commandLink style="margin-left: 0" action="#{sessionBean.logout}" value="Sair" class="btn"/>
 										</h:form>
 									</li>
 								</ul>
 							</h:panelGroup>
						</div>
 					</div>
 				</div>
 			</div>
 			<div id="face_header" />
	    </ui:composition>
    </body>
</html>