<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  lang="pt_br">

<h:head>
	<meta charset="ISO-8859-1" />

	<link href="#{facesContext.externalContext.requestContextPath}/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<h:outputStylesheet name="common.css" library="css" />

	<h:outputScript name="jquery-1.10.2.min.js" library="js"></h:outputScript>
	<h:outputScript name="bootstrap.min.js" library="js"></h:outputScript>

	<title><ui:insert name="title">SGD.ufba - Sistema de Gerenciamento de Deseppenho</ui:insert></title>
	
	<f:metadata>
	<ui:insert name="events" ></ui:insert>
	</f:metadata>
	
</h:head>

<h:body>
	<ui:insert name="header" >
		<ui:include src="header.xhtml" />
	</ui:insert>
	
	<div id="content">
		<ui:insert name="content" />
	</div>

	<ui:insert name="footer" >
		<ui:include src="footer.xhtml" />
	</ui:insert>
</h:body>

</html>