<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition template="/template/common/loged.xhtml"
					xmlns="http://www.w3.org/1999/xhtml"
					xmlns:f="http://java.sun.com/jsf/core"
					xmlns:h="http://java.sun.com/jsf/html"
					xmlns:p="http://primefaces.org/ui"
					xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<ui:define name="title">Professor #{professorBean.professor.nome}</ui:define>
	
	<ui:define name="events">
		<f:event listener="#{sessionBean.nivel1}" type="preRenderView"/>
	</ui:define>
	
	<ui:define name="content">
		<h:form id="alteraAluno">
			<h:panelGroup>
			
				<legend>Editar Aluno</legend>
				<h:messages/>
				<h:panelGrid columns="2">
					<h:outputLabel value="Matricula:"/> 
					<h:inputText id="codigo" value="#{alunoBean.aluno.matricula}" required="true"/>

					<h:outputLabel value="Nome:"/> 
					<h:inputText id="nome" value="#{alunoBean.aluno.nome}" required="true"/>
					
					<h:outputLabel for="senha" value="Senha: " />
					<p:password id="senha" value="#{alunoBean.aluno.senha}" />
					
					<h:outputLabel for="curso" value="Curso: " />
	            	<h:selectOneMenu id="curso" value="#{alunoBean.aluno.curso}" required="true">
		                <f:selectItem itemLabel="Selecione Curso" itemValue="" />
    					<f:selectItems value="#{cursosBean.lista}" />
                        <f:converter converterId="cursoConverter" />
	            	</h:selectOneMenu>
	            	
					<h:commandButton id="botaoVoltar" class="btn btn-primary" action="#{alunoBean.buscarAlunos}" value="Voltar"/>
					<h:commandButton id="botaoAlterar" class="btn btn-primary" action="#{alunoBean.alterar}" value="Alterar"/>

				</h:panelGrid>
					
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>