<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition template="/template/common/loged.xhtml"
					xmlns="http://www.w3.org/1999/xhtml"
					xmlns:f="http://java.sun.com/jsf/core"
					xmlns:h="http://java.sun.com/jsf/html"
					xmlns:p="http://primefaces.org/ui"
					xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<ui:define name="title">Curso #{cursosBean.curso.nome}</ui:define>
	
	<ui:define name="events">
		<f:event listener="#{sessionBean.nivel1}" type="preRenderView"/>
	</ui:define>
	
	<ui:define name="content">
		<h:form id="alteraCurso">
			<h:panelGroup>
			
				<legend>Editar Curso</legend>
				<h:messages/>
				<h:panelGrid columns="2">
					
					<h:outputLabel value="Nome:"/> 
					<h:inputText id="nome" value="#{cursosBean.curso.nome}" required="true"/>

					<h:commandButton id="botaoVoltar" class="btn btn-primary" action="#{cursosBean.buscarCursos}" value="Voltar"/>
					<h:commandButton id="botaoAlterar" class="btn btn-primary" action="#{cursosBean.alterar}" value="Alterar"/>

				</h:panelGrid>
					
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>