﻿<ui:composition template="template/common/index.xhtml"
					xmlns="http://www.w3.org/1999/xhtml"
					xmlns:f="http://java.sun.com/jsf/core"
					xmlns:h="http://java.sun.com/jsf/html"
					xmlns:p="http://primefaces.org/ui"
					xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="title">SGD.ufba - Sistema de Gerenciamento de Desenpenho da UFBA</ui:define>

	<ui:define name="content">
		<div id="filtro">
			<div class="pull-right">
				<h:form id="form">
					<h:outputLabel value="Período"/>
	            	<h:selectOneMenu id="semestre" value="#{cursosBean.semestre}"
	            			immediate="true" onchange="submit();" valueChangeListener="#{cursosBean.listarPorSemestre}" >
		                <f:selectItems value="#{cursosBean.semestres}" />
	            	</h:selectOneMenu>
	            	<h:outputLabel value="Ordem:"/>
	            	<h:selectOneMenu id="ordem" value="#{cursosBean.ordem}"
	            			immediate="true" onchange="submit();" valueChangeListener="#{cursosBean.ordenar}" >
		                <f:selectItems value="#{cursosBean.ordens}" />
	            	</h:selectOneMenu>
	            	<h:outputLabel value="Filtro:"/>
	            	<h:inputText type="text" class="input-medium search-query" placeholder="Filtro" />
				</h:form>
			</div>
			<ul class="nav nav-tabs">
				<li>
					<span class="nota_faculdade">
						Nota da Faculdade (UFBA):
						<span class="green">#{universidadeBean.universidade.media}</span>
					</span>
				</li>
				<li class="active">
					<a href="#">Desempenho</a>
				</li>
				<!-- <li class="disabled">
					<a>Historico</a>
				</li> -->
			</ul>
		</div>

		<div>
			<h:dataTable var="curso" value="#{cursosBean.lista}" id="curso_index">
				<h:column class="col-1">
					<f:facet name="header">#</f:facet>
					#{curso.rank}
				</h:column>
				<h:column class="col-1">
					<f:facet name="header">Cursos</f:facet>
					#{curso.nome}
				</h:column>
				<h:column class="col-2">
					<f:facet name="header">Média</f:facet>
					<div class="progress progress-striped">
				    	<div class="bar" style="width: #{curso.media * 10}%;" >
				    		<span class="media">#{curso.media}</span>
				    	</div>

					</div>
				</h:column>
			</h:dataTable>

		</div>

	</ui:define>
</ui:composition>
