body {
  height: 100%; }

#face_header {
  height: 40px;
  width: auto; }

#content {
  margin: 10px auto;
  min-height: 350px;
  width: 1000px; }

#sidebar {
  float: left;
  width: 220px;
  height: 70%;
  height: calc(100% - 220px);
  min-height: 300px;
  border-right: 1px #999 solid; }
  #sidebar .nav i {
    float: right; }
  #sidebar ul li.nav-header, #sidebar ul li a {
    padding: 1px 8px 1px 15px; }
  #sidebar ul li a {
    padding-left: 22px; }

#formArea {
  float: right;
  padding: 10px 20px;
  width: 739px;
  height: 100%; }

#footer {
  height: 150px;
  width: auto;
  background-color: #1b1b1b;
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  background-color: #252525; }

@media only screen and (max-height: 540px) {
  #footer {
    position: relative; } }
#footer .inner {
  margin: 0 auto;
  width: 1000px; }
  #footer .inner .bg-image-footer {
    z-index: -1;
    position: relative;
    top: 40px;
    left: 819px; }

.logo-name {
  display: block;
  padding: 10px 15px 7px;
  font-size: 34px;
  font-family: Fette Engschrift, san-serif;
  color: #FFF; }
  .logo-name .big {
    font-size: 1em; }
  .logo-name .small {
    margin-left: 0;
    font-size: 0.75em; }
  .logo-name span {
    display: inline;
    margin: 0; }

/*******************************
 * Loged Form
 */
#formArea .alert ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0; }
#formArea .alert-success {
  font-weight: bold; }

.logedForm label {
  min-width: 100px;
  padding: 0 5px; }
.logedForm [type="submit"] {
  height: 35px; }

/*******************************
 * Index Classes
 */
span.blue {
  color: blue; }

span.red {
  color: red; }

span.green {
  color: green; }

.nota_faculdade {
  display: block;
  padding: 8px 8px 0 0;
  line-height: 20px; }
  .nota_faculdade span {
    font-weight: bold; }

#filtro {
  height: 38px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5); }
  #filtro form {
    margin: 0; }
    #filtro form > * {
      display: inline;
      margin: 0 2px 0 3px; }
    #filtro form select {
      height: 30px;
      width: auto; }
      #filtro form select:focus {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0px none;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); }
    #filtro form label {
      line-height: 22px; }
    #filtro form input {
      height: 22px; }

#curso_index tr td:nth-child(2), #grafica tr td:nth-child(2) {
  text-align: center;
  padding: 0 10px;
  min-width: 150px; }
#curso_index tr td:last-of-type, #grafica tr td:last-of-type {
  padding: 0;
  vertical-align: middle;
  width: 100%; }
  #curso_index tr td:last-of-type div.progress, #grafica tr td:last-of-type div.progress {
    margin: 5px 0; }

#curso_index .media {
  line-height: 30px;
  font-size: 16px;
  font-weight: bold; }
#curso_index .progress {
  margin: 0 10px;
  height: 30px; }
  #curso_index .progress .bar {
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    -o-background-size: 30px 30px;
    background-size: 30px 30px;
    color: #1a1a1a; }

/*******************************
 * Graficos
 */
#legende {
  position: fixed;
  background-color: #FFF; }
  #legende td {
    height: 38px;
    vertical-align: middle;
    padding: 0 5px; }
  #legende .color {
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-midle;
    line-height: 10px;
    width: 10px;
    height: 10px; }
  #legende .blue {
    background-color: #0e90d2; }
  #legende .red {
    background-color: #340ce9; }
  #legende .green {
    background-color: #22e919; }

#grafica {
  width: 100%; }
  #grafica tr td:nth-child(2) {
    padding-right: 5px;
    text-align: center;
    width: 5%; }
  #grafica tr td:last-of-type {
    vertical-align: middle;
    width: 75%;
    padding: 5px 0; }
  #grafica .progress {
    margin: 2px 0 2px 5px; }
    #grafica .progress .bar {
      font-size: 14px;
      font-weight: bold;
      color: #1a1a1a; }
  #grafica .blue {
    background-color: #0e90d2;
    background-image: linear-gradient(to bottom, #0f9ae0, #0b6fa2); }
  #grafica .red {
    background-color: #340ce9;
    background-image: linear-gradient(to bottom, #3a12f3, #290ab8); }
  #grafica .green {
    background-color: #22e919;
    background-image: linear-gradient(to bottom, #2fea27, #19bd12); }
